src/main/webapp/schemas/xmlSchema/data_v2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.bbmri.cz/schemas/biobank/data_v2" xmlns:data_v2="http://www.bbmri.cz/schemas/biobank/data_v2">
    <xs:element name="patient">
        <xs:complexType>
            <xs:sequence minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>samples of patient</xs:documentation>
                </xs:annotation>
                <xs:element ref="data_v2:sample"/>
            </xs:sequence>
            <xs:attribute name="id" use="required">
                <xs:annotation>
                    <xs:documentation>identifier of a patient (interni identifikator pacienta)</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="10"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="consent" use="required" type="xs:boolean">
                <xs:annotation>
                    <xs:documentation>informed consent (informovany souhlas)</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="year" use="required" type="xs:gYear">
                <xs:annotation>
                    <xs:documentation>year of birth</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="month" type="xs:gMonth">
                <xs:annotation>
                    <xs:documentation>month of birth - day is skipped to preserve k-anonymity</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="sex" use="required">
                <xs:annotation>
                    <xs:documentation>sex of patient</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:token">
                        <xs:enumeration value="male"/>
                        <xs:enumeration value="female"/>
                        <xs:enumeration value="unknown"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="biobank" use="required">
                <xs:annotation>
                    <xs:documentation>biobank identifier</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="6"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:element name="sample">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="data_v2:materialType"/>
                <xs:element ref="data_v2:totalAliquots"/>
                <xs:element ref="data_v2:availableAliquots"/>
                <xs:element minOccurs="0" ref="data_v2:TNM"/>
                <xs:element minOccurs="0" ref="data_v2:pTNM"/>
                <xs:element minOccurs="0" ref="data_v2:morphology"/>
                <xs:element minOccurs="0" ref="data_v2:grading"/>
                <xs:element ref="data_v2:takingDateTime"/>
                <xs:element minOccurs="0" ref="data_v2:freezeDateTime"/>
                <xs:element ref="data_v2:retrieved"/>
                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:annotation>
                        <xs:documentation>diagnosis coded using ICD, multiple diagnosis can be defined</xs:documentation>
                    </xs:annotation>
                    <xs:element ref="data_v2:diagnosis"/>
                </xs:sequence>
                <xs:element minOccurs="0" ref="data_v2:storageMethodology">
                    <xs:annotation>
                        <xs:documentation>how is sample stored</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="id" use="required">
                <xs:annotation>
                    <xs:documentation>id of sample - it enables to find record in source HIS</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="32"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="year" use="required" type="xs:gYear">
                <xs:annotation>
                    <xs:documentation>year in which sample was taken - at MOU part of bioptical report which enables easier look-up for samples in HIS</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="number" type="xs:int">
                <xs:annotation>
                    <xs:documentation>sequential order of sample during year - at MOU part of bioptical report which enables easier look-up for samples in HIS</xs:documentation>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:element name="materialType">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:maxLength value="4"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="totalAliquots" type="xs:int">
        <xs:annotation>
            <xs:documentation>number of aliquotes</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="availableAliquots" type="xs:int">
        <xs:annotation>
            <xs:documentation>number of aliquotes available for research purpose</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="TNM" type="xs:string">
        <xs:annotation>
            <xs:documentation>TNM classification</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="pTNM" type="xs:string">
        <xs:annotation>
            <xs:documentation>pTNM classification</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="morphology">
        <xs:annotation>
            <xs:documentation>morphology coded using ICD-O</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:maxLength value="7"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="grading">
        <xs:annotation>
            <xs:documentation>grading can be part of icdo. Than it is not necessary to duplicate information and define grading separately.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
            <xs:restriction base="xs:int">
                <xs:minInclusive value="1"/>
                <xs:maxInclusive value="9"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="takingDateTime">
        <xs:annotation>
            <xs:documentation>YYYY-MM-DDThh:mm:ss or YYYY-MM-DD</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
            <xs:union memberTypes="xs:dateTime xs:date"/>
        </xs:simpleType>
    </xs:element>
    <xs:element name="freezeDateTime">
        <xs:annotation>
            <xs:documentation>YYYY-MM-DDThh:mm:ss or YYYY-MM-DD</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
            <xs:union memberTypes="xs:dateTime xs:date"/>
        </xs:simpleType>
    </xs:element>
    <xs:element name="retrieved">
        <xs:annotation>
            <xs:documentation>when sample was taken</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
            <xs:restriction base="xs:token">
                <xs:enumeration value="preoperational"/>
                <xs:enumeration value="operational"/>
                <xs:enumeration value="post"/>
                <xs:enumeration value="unknown"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="diagnosis">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:maxLength value="7"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="storageMethodology">
        <xs:annotation>
            <xs:documentation>description of storage method</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" ref="data_v2:temperatureCelsius"/>
                <xs:element minOccurs="0" ref="data_v2:methodology"/>
                <xs:element minOccurs="0" ref="data_v2:sts"/>
                <xs:element minOccurs="0" ref="data_v2:expiration"/>
                <xs:element minOccurs="0" ref="data_v2:medium"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="temperatureCelsius" type="xs:float">
        <xs:annotation>
            <xs:documentation>average temperature (°C) in which is sample stored (in case everything in infrastructure is working flawlessly)</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="methodology" type="xs:string">
        <xs:annotation>
            <xs:documentation>are you following any standard</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="sts" type="xs:boolean">
        <xs:annotation>
            <xs:documentation>sample is stored only temporary - STS</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="expiration" type="xs:date"/>
    <xs:element name="medium" type="xs:string">
        <xs:annotation>
            <xs:documentation>which liquid/medium was used to preserve sample - RNA later, parafine, ...</xs:documentation>
        </xs:annotation>
    </xs:element>
</xs:schema>
